header{
    font-size: 80px;
    background-color: #0091ff;
    -webkit-box-reflect: below
    1px linear-gradient(transparent, #0005);
    box-shadow: 0 0 5px #0091ff,0 0 15px #0091ff,0 0 25px #0091ff, 0 0 100px #0091ff;
    margin-top: 30px;
    margin-bottom: 100px;
    width: 50%;
}
h2{
    font-size: 40px;
}
.name{
    width: 250px;
    height: 40px;
}
.email{
    width: 250px;
    height: 40px;
}
.G{
    font-size: 25px;
    background-color: rgb(244, 248, 9);
}
.address{
    font-size: 20px;
}
.card_type{
    width: 200px;
    height: 40px;
}
.card_number{
    width: 200px;
    height: 20px;
}
.exp_date{
    width: 120px;
    height: 40px;
}
.cvv{
    width: 150px;
    height: 30px;
}
.button{
   font-size: 20px;
   margin-top: 30px;
   background-color: rgb(1, 46, 123);
   color: white ;
}
.fa-cart-shopping{
    font-size: 30px;
    padding-right: 20px;
    color: rgb(1, 46, 123);
}
.button:hover{
    background-color:rgb(0, 158, 249);
}