header{
    font-size: 80px;
    background-color: #ffaa00;
    -webkit-box-reflect: below
    1px linear-gradient(transparent, #0005);
    box-shadow: 0 0 5px #ffaa00,0 0 15px #ffaa00,0 0 25px #ffaa00, 0 0 100px #ffaa00;
    margin-top: 30px;
    margin-bottom: 100px;
}